//@import "vars";
//@import "mixins";
@import "fonts";
//@import "base";
//@import "modules/*.scss";
//@import "helpers";
@import "owl.carousel/src/scss/owl.carousel";
//@import "slick-slider/slick/slick.scss";
//@import "aos/src/sass/aos";
//@import "@fancyapps/fancybox/src/css/jquery.fancybox";

//@import "./_slider";
//@import "./_jquery.fancybox";
//@import "./_jquery.mCustomScrollbar";




@mixin linx ($link, $hover, $active, $bg, $bgHover) {
  color: $link;
  background: $bg;

  &:hover {
    color: $hover;
    background: $bgHover;
  }

  &:active {
    color: $active;
    background: $bgHover;
  }

  transition: .4s cubic-bezier(.21,.65,.4,.96);
}





$white: #ffffff;
$violet: #8063c6;
$lightViolet: #f1f1ff;
$black: #0e172b;
$greyBlack: #242d3d;
$orange: #ffd23e;
$greyBg: #f1f1ff;


$maxWidth: 1380px;
$laptopWidth: 1060px;

$largeSize: 54px;
$bigSize: 26px;
$mediumSize: 19px;
$lightSize: 16px;

$laptopLargeSize: 46px;
$laptopBigSize: 22px;
$laptopMediumSize: 16px;
$laptopLightSize: 14px;

$tabletLargeSize: 46px;
$tabletBigSize: 22px;
$tabletMediumSize: 16px;
$tabletLightSize: 13px;

$mobileLargeSize: 38px;
$mobileBigSize: 22px;
$mobileMediumSize: 16px;
$mobileLightSize: 13px;


@mixin btn ($width) {
  width: $width;

  &:hover {
    background: $blue;
    color: $darkblue;
  }

  @media (max-width: 1600px) {
    font-size: $laptopMediumSize;
    height: 54px;
  }
  @media (max-width: 1200px) {
    font-size: $mobileMediumSize
  }

  @media (max-width: 992px) {
    width: $width - 160;
    height: 45px;
  }

}

a{
  &:active, &:focus {
    outline: none;
  }
  &::-moz-focus-inner {
    border: 0;
    outline: none;
  }
}


*{
  font-family: 'OpenSans', serif ;
  box-sizing: border-box;
}

input[type="submit"], a{
  cursor: pointer;
  text-decoration: none;
}

.site-btn{
  padding: 12px 29px;
  border: 2px solid $black;
  border-radius: 5px;
  font: 14px 'OpenSans-Bold';
  @include linx ($greyBlack, $white, $white, transparent, $violet);

  &:hover{
    border-color: $violet;
  }

  &:active{
    border-color: #533377;
    background: #533377;
  }
}

.site-big-btn{
  padding: 16px 61px;
  border-radius: 5px;
  font: $lightSize 'OpenSans-Bold';
  display: inline-block;
  position: relative;
  @include linx ($white, $white, $white, transparent, transparent);

  &:before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid #533377;
    @include linx ($white, $greyBlack, $white, $violet, $orange);
    z-index: 1;
    border-radius: 5px;
  }

  &:after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 6px;
    left: 6px;
    border: 2px solid #533377;
    border-radius: 5px;
    transition: .4s cubic-bezier(.21,.65,.4,.96);
  }

  span{
    position: relative;
    z-index: 2;
    display: block;
    transition: transform .4s cubic-bezier(.21,.65,.4,.96);
    font: $lightSize 'OpenSans-Bold';
  }

  &:hover{
    &:before{
      //background: $orange;
    }

    span{
    }

    &:after{
      transform: translate(-6px, -6px);
    }
  }

  &:active{
    &:before{
      background: #533377;
    }
  }


}


.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  height: 91px;
  transition: .4s cubic-bezier(.21,.65,.4,.96);
  border: 1px solid transparent;
  border-left: 0;
  border-right: 0;
  padding: 0 50px;

  &--scrolled{
    background: white;
    border-color: $violet;
  }

  &__inner{
    max-width: 1720px;
    margin: 0 auto;
    display: flex;
    padding-top: 35px;
    justify-content: space-between;
  }

  &__left{

  }

  &__logo{
    width: 185px;
  }

  &__logo-img{

  }

  &__right{
    display: flex;
  }

  &__menu{

  }

  &__menu-list{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__menu-item{
    margin-right: 40px;

    &--active .header__menu-link{
      @include linx ($violet, $violet, $violet, transparent, transparent);
    }

    &:last-child{
      margin-left: 12px;
      margin-right: 40px;

      & .header__menu-link:hover:after{
        width: 0;
      }
    }

    &:hover .header__menu-link{
      color: $violet;
      &:after{
        width: 120%;
      }
    }

    &--submenu{
      margin-right: 53px;

      .header__menu-link:before{
        content: '';
        position: absolute;
        top: 8px;
        right: -15px;
        width: 7px;
        height: 5px;
        background: url("../img/arr-menu.png") center center no-repeat;
      }

      &:hover{



        .header__submenu{
          display: flex;
          position: absolute;
          left: 0;
          top: 90px;
          width: 100%;
          padding: 50px 0;
          margin: 0;
          background: $violet;
        }

        .header__menu-link span {
          height: 50px;

          &:after{
            content: '';
            position: absolute;
            top: 30px;
            left: 45px;
            transform: rotate(45deg);
            width: 40px;
            height: 40px;
            background: $violet;
          }
        }
      }

      .header__menu-link span{
        position: absolute;
        top: 10px;
        left: -60%;
        width: 240%;
        height: 0;
      }

    }
  }

  &__menu-link{
    position: relative;
    font: 14px 'OpenSans-Bold';
    @include linx ($greyBlack, $violet, #533377, transparent, transparent);

    &:after{
      content: "";
      position: absolute;
      top: 50%;
      left: -10%;
      display: block;
      width: 0;
      height: 1px;
      background: $violet;
      transition: .4s cubic-bezier(.21,.65,.4,.96);
    }





  }

  &__submenu{
    transition: 0.3s;
    display: none;
  }

  &__submenu-inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    max-width: 1100px;
    margin: 0 auto;
    list-style: none;
    line-height: 35px;
  }

  &__submenu-item{
    width: 25%;
  }

  &__submenu-link{
    color: $white;
    transition: 0.3s;

    &:hover{
      text-decoration: underline;
    }

    &:active{
      color: #533377;
      text-decoration: underline;
    }
  }

  &__tablet-login{
    display: none;
  }

  &__btn{

  }

  &__btn-item{

  }

}

.home-top{
  min-height: 1080px;
  background: $orange;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;

  &__content{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto 0;

    min-height: 660px;
    margin-top: 255px;
  }

  &__title{
    max-width: 660px;
    position: relative;
    margin-bottom: 78px;

    &:after{
      content: "";
      position: absolute;
      bottom: -43px;
      left: 10px;
      width: 90px;
      height: 15px;
      background: url("../img/home/wave.png") center center no-repeat;
    }

    h1{
      font: 70px/80px 'Quicksand-Bold';
      margin: 0;
    }
  }

  &__caption{
    font: $mediumSize 'OpenSans';
    line-height: 30px;
    max-width: 630px;
  }

  &__btn{
    margin-top: 55px;
  }

  &__image{
    position: absolute;
    top: 257px;
    right: 40px;
    background: url("../img/home/h-t-img.png") center center no-repeat;
    width: 820px;
    height: 837px;
  }

  &__image-animate{
    position: absolute;
    background: url("../img/home/h-t-sprite.png");
    backface-visibility: hidden;

    &.animate-1{
      top: 697px;
      left: -51px;
      width: 104px;
      height: 45px;
      background-position: 10px 473px;

      animation: animateTopLeft 2.0s ease-in-out 0s infinite;
    }

    &.animate-2{
      top: 614px;
      left: -66px;
      width: 28px;
      height: 28px;
      background-position: -2px 526px;

      animation: animateTop 2s ease-in-out 0.5s infinite;
    }

    &.animate-3{
      top: 506px;
      left: -6px;
      width: 87px;
      height: 6px;
      background-position: -2px 563px;
      animation: animateLeft 2s ease-in-out 0.5s infinite;
    }

    &.animate-4{
      top: 399px;
      left: 49px;
      width: 80px;
      height: 80px;
      background-position: -2px 667px;

      animation: animateTopRight 2s ease-in-out 0.5s infinite;
    }

    &.animate-5{
      top: 249px;
      left: 51px;
      width: 170px;
      height: 90px;
      background-position: -1px -317px;

      animation: animateTopRight 2s ease-in-out 1.8s infinite;
    }

    &.animate-6{
      top: 20px;
      left: 233px;
      width: 81px;
      height: 80px;
      background-position: -1px -97px;


      animation: animateTopRight 2.0s ease-in-out 0.5s infinite;
    }

    &.animate-7{
      top: 2px;
      left: 215px;
      width: 81px;
      height: 80px;
      background-position: -1px -3px;

      animation: animateTopRight 2.0s ease-in-out 0.9s infinite;
    }

    &.animate-8{
      top: -6px;
      left: 508px;
      width: 52px;
      height: 52px;
      background-position: -19px -253px;

      animation: animateTopLeft 2.0s ease-in-out 0.9s infinite;
    }

    &.animate-9{
      top: -22px;
      left: 523px;
      width: 52px;
      height: 52px;
      background-position: -19px -188px;

      animation: animateTopLeft 2.0s ease-in-out 0.5s infinite;
    }

    &.animate-10{
      top: 69px;
      left: 593px;
      width: 115px;
      height: 90px;
      background-position: 1px 405px;

      animation: animateTopLeft 2.0s ease-in-out 1.5s infinite;
    }

    &.animate-11{
      top: 239px;
      left: 650px;
      width: 95px;
      height: 60px;
      background-position: 1px 290px;

      animation: animateTopLeft 2.5s ease-in-out 0.5s infinite;
    }

    &.animate-12{
      top: 373px;
      left: 653px;
      width: 28px;
      height: 28px;
      background-position: -2px 526px;

      animation: animateTop 2s ease-in-out 0.5s infinite;
    }

    &.animate-13{
      top: 397px;
      left: 754px;
      width: 33px;
      height: 33px;
      background-position: -1px 211px;

      animation: animateTop 2s ease-in-out 0.5s infinite;
    }

    &.animate-14{
      top: 407px;
      left: 763px;
      width: 33px;
      height: 33px;
      background-position: -1px 154px;

      animation: animateTop 1.5s ease-in-out 0.8s infinite;
    }

    &.animate-15{
      top: 514px;
      left: 740px;
      width: 75px;
      height: 90px;
      background-position: -1px 91px;

      animation: animateTopRight 2s ease-in-out 0.5s infinite;
    }

    &.animate-16{
      top: 737px;
      left: 700px;
      width: 80px;
      height: 75px;
      background-position: -1px -425px;

      animation: animateTopRight 2s ease-in-out 0.8s infinite;
    }

  }

}

@keyframes animateTop {
  from {transform: translate(0, 0)}
  50%{
    transform: translate(0, -30px)
  }
  to {transform: translate(0, 0)}
}

@keyframes animateLeft{
  from {transform: translate(0, 0)}
  50%{
    transform: translate(30px, 0)
  }
  to {transform: translate(0, 0)}
}

@keyframes animateTopRight{
  from {transform: translate(0, 0)}
  50%{
    transform: translate(-25px, -25px)
  }
  to {transform: translate(0, 0)}
}


@keyframes animateTopLeft{
  from {transform: translate(0, 0)}
  50%{
    transform: translate(25px, -25px)
  }
  to {transform: translate(0, 0)}
}

.section-title h2{
  color: $black;
  font: $largeSize 'Quicksand-Bold';
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}


.home-how-it-work{
  padding: 120px 0 130px;
  background: $lightViolet;

  &__inner{
    max-width: 1290px;
    margin: 0 auto;
  }

  &__top-title{
    &:after{
      content: "";
      display: block;
      width: 98px;
      height: 18px;
      background: url("../img/home/wawe-2.png") center center no-repeat;
      margin: 35px auto 0;
    }
  }

  &__items{
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
  }

  &__item{
    width: 33%;
    max-width: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &:first-child{
      img{
        position: relative;
        left: -15px;
      }
    }

    &:nth-child(2){
      img{
        position: relative;
        left: -20px;
      }
    }
  }

  &__img{
    width: 100%;
    max-width: 120px;
    max-height: 130px;
    display: flex;
    justify-content: center;
    margin-bottom: 35px;

    img{
      width: 100%;
    }
  }

  &__title{
    font: $bigSize 'OpenSans-Bold';
    margin-bottom: 20px;
  }

  &__txt{
    font: $mediumSize 'OpenSans';
    color: #14213d;
    letter-spacing: 0.5px;

  }

  &__link-wrap{
    margin-top: 60px;
    display: flex;
    justify-content: center;
  }

  &__link{
    font: $mediumSize 'OpenSans-Extrabold';
    position: relative;

    @include linx($violet, $violet, $violet, transparent, transparent);

    &:after{
      content: "";
      display: inline-block;
      width: 15px;
      height: 21px;
      background: url("../img/home/arr.png") center center no-repeat;
      position: relative;
      top: 4px;
      left: 8px;
      transition: 0.3s;
    }

    &:before{
      content: "";
      position: absolute;
      left: 100%;
      margin-left: 4px;
      top: 13px;
      width: 0;
      height: 3px;
      background: $violet;
      border-radius: 10px;
      transition: 0.3s;
    }

    &:hover{
      &:after{
        transform: translateX(22px);
      }
      &:before{
        width: 22px;
      }
    }
  }

}

.what-we-do{
  padding: 120px 0 140px;

  &__inner{
    max-width: 1380px;
    width: 100%;
    margin: 0 auto;
  }

  &__top-title{

  }

  &__items{
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item{
    cursor: pointer;
    background: $lightViolet;
    border-radius: 10px;
    width: 100%;
    max-width: 430px;
    text-align: center;
    display: flex;
    margin-bottom: 35px;
  }

  &__item-inner{
    position: relative;
    min-height: 275px;
    transform: translate(-13px, -13px);
    transition: 0.5s;
    background: $white;
    border-radius: 10px;
    border: 1px solid $lightViolet;
    padding: 25px 47px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:hover{
      transform: translate(0, 0);
      background: $violet;

      .what-we-do__top{
        margin-bottom: 20px;
        color: $white;
      }

      .what-we-do__txt{
        visibility: visible;
        max-height: 200px;
        opacity: 1;
      }

      .what-we-do__btn{
        visibility: visible;
        max-height: 200px;
        opacity: 1;
      }

      .what-we-do__top:after{
        opacity: 0;
      }
    }
  }

  &__top{
    color: $black;

    &:after{
      content: "";
      display: block;
      width: 128px;
      height: 17px;
      background: url("../img/home/wawe-3.png") center center no-repeat;
      margin: 0 auto;
    }
  }

  &__title{
    font: $bigSize 'OpenSans-Bold';
    margin-bottom: 20px;
  }

  &__txt{
    font: $lightSize 'OpenSans-Light';
    visibility: hidden;
    max-height: 0;
    color: $white;
    opacity: 0;
  }

  &__btn{
    display: flex;
    visibility: hidden;
    max-height: 0;
    opacity: 0;
  }

  &__link{
    font: $lightSize 'OpenSans-Bold';
    border: 1px solid $orange;
    width: 150px;
    padding: 15px 0;
    border-radius: 6px;
    letter-spacing: 0.5px;

    @include linx($black, $white, $white, $orange, $violet);


    &:first-child{
      margin-right: 35px;
    }
  }


  &__mobile{
    display: none;
  }

}


.home-slider{
  background: $orange;
  padding: 130px 0 135px;
  overflow: hidden;
  position: relative;

  &:before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 403px;
    height: 290px;
    background: url("../img/home/home-fig-1.png") right bottom;
  }

  &__inner{
    max-width: 900px;
    margin: 0 auto;
  }

  &__img{
    position: absolute;
    top: 105px;
    right: 0;
  }

  &__items{

  }

  &__item{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__top{

  }

  &__title{
    &:after{
      content: "";
      display: block;
      width: 98px;
      height: 18px;
      background: url('../img/home/wave.png') center center no-repeat;
      margin: 30px auto 0;
    }
  }

  &__txt{
    text-align: center;
    font: $mediumSize 'OpenSans';
    max-width: 560px;
    letter-spacing: 0.5px;
    margin-top: 50px;
    margin-bottom: 45px;
  }

  &__caption{
    text-align: center;
    font: $bigSize 'OpenSans-Bold';
  }

}

.home-slider__inner{

  .owl-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 0;
    position: absolute;
    top: 50%;
    left: 0;
  }

  .owl-prev{
    background: url("../img/home/slider-arr.png") center center no-repeat !important;
    width: 19px;
    height: 33px;

    span{
      color: transparent;
    }
  }

  .owl-next{
    background: url("../img/home/slider-arr.png") center center no-repeat !important;
    position: relative;
    transform: rotate(180deg);
    width: 19px;
    height: 33px;

    span{
      color: transparent;
    }
  }

  .owl-dots{
    margin-top: 95px;
    display: flex;
    justify-content: center;
  }

  .owl-dot{
    width: 15px;
    height: 15px;
    border: 2px solid white !important;
    border-radius: 50%;
    background: $orange;
    transition: 0.5s;
    margin: 0 30px;
    outline: none;

    &.active{
      border-color: $violet !important;
      background: $violet;
    }
  }
}


.order-block{
  background: $lightViolet url("../img/home/home-bg-2.png") center -35px no-repeat;
  padding: 95px 0 100px;

  &__title{

  }

  &__btn{
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

}

.subscribe-block{
  display: flex;
  justify-content: center;
  padding: 35px 0;
  align-items: center;

  &__title{
    font: $bigSize 'OpenSans-Bold';
  }

  &__form{
    display: flex;
  }

  &__input{
    width: 295px;
    height: 50px;
    padding-left: 25px;
    border-radius: 8px;
    border: 1px solid $lightViolet;
    color: #7c808b;
    background: $lightViolet;
    font: $mediumSize 'OpenSans';
    margin-right: 17px;
    margin-left: 50px;
    outline: 0;
  }
}


.seo-block{
  background: $lightViolet;
  padding: 120px 0 140px;

  &__inner{
    max-width: 860px;
    margin: 0 auto;
  }

  &__title{
    font: 42px 'Quicksand-Bold';
    margin-bottom: 25px;
  }

  &__txt{
    margin-bottom: 40px;
    letter-spacing: 0.5px;
    line-height: 27px;
    color: #4b566e;
  }

  &__subtitle{
    font: $bigSize "Quicksand-Bold";
    margin-bottom: 20px;
  }

}



.footer{


  &__inner{
    max-width: 1730px;
    width: 100%;
    margin: 0 auto;
    padding: 50px 0 45px;
    display: flex;
    justify-content: space-between;
  }

  &__left{
    width: 100%;
    max-width: 550px;
  }

  &__logo{
    max-width: 180px;
  }

  &__txt{
    max-width: 410px;
    margin-top: 25px;
    letter-spacing: 0.5px;
    line-height: 26px;
  }

  &__center{
    display: flex;
    width: 100%;
    max-width: 760px;
  }

  &__center-item{
    width: 45%;
  }

  &__center-title{
    font: $mediumSize 'OpenSans-Extrabold';
    color: $violet;
    margin-bottom: 20px;

    &:after{
      content: "";
      display: inline-block;
      width: 53px;
      height: 14px;
      background: url(../img/home/wawe-2.png) center center no-repeat;
      background-size: contain;
      margin-left: 10px;
    }
  }

  &__center-subtitle{
    font: $mediumSize 'OpenSans-Light';
  }

  &__center-link{
    font: $mediumSize 'OpenSans-Bold';
    display: inline-block;
    color: $black;
    margin-top: 3px;
    margin-bottom: 20px;

    &:last-child{
      margin-bottom: 0;
    }
  }

  &__right{
    min-width: 410px;
    max-width: 410px;
  }

  &__right-txt{
    text-transform: uppercase;
    color: #787c85;
    font: 13px/21px 'OpenSans-Light';
  }

  &__bottom{
    height: 65px;
    background: $lightViolet;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #787c85;
  }

}





.b-lazy {
  -webkit-transition: opacity 500ms ease-in-out;
  -moz-transition: opacity 500ms ease-in-out;
  -o-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
  max-width: 100%;
  opacity: 0;
}
.b-lazy.b-loaded {
  opacity: 1;
}




@media (max-width: 1600px) {

  .site-btn {
    padding: 11px 29px;
  }

  .site-big-btn span{
    font-size: $laptopLightSize;
  }

  .home-top{
    align-items: flex-start;
    min-height: 768px;
  }

  .home-top__content {
    max-width: 1050px;
    margin-top: 190px;
    min-height: 0;
  }

  .home-top__title{
    max-width: 550px;
    margin-bottom: 63px;
  }

  .home-top__title h1{
    font: 60px/70px 'Quicksand-Bold';
  }

  .home-top__caption{
    font-size: $laptopMediumSize;
    line-height: 27px;
    max-width: 490px;
  }

  .home-top__image{
    transform: scale(0.75);
    top: 48px;
    right: -80px;
    //top: 153px;
    //right: 25px;
    //width: 616px;
    //height: 620px;
    //background-size: contain;
  }

  .home-top__title:after {
    left: 0;
    bottom: -37px;
    width: 75px;
    background-size: contain;
  }

  .home-top__btn{
    margin-top: 47px;
  }

  .site-big-btn{
    padding: 12px 47px;
  }

  .home-top__image-inner{
  }

  .section-title h2{
    font-size: $laptopLargeSize;
  }

  .home-how-it-work {
    padding: 80px 0 96px;
  }

  .home-how-it-work__top-title:after {
    margin: 25px auto 0;
  }

  .home-how-it-work__inner {
    max-width: 1020px;
  }

  .home-how-it-work__title{
    font-size: $laptopBigSize;
  }

  .home-how-it-work__img {
    transform: scale(0.8);
    min-height: 130px;
    margin-bottom: 23px;
  }

  .home-how-it-work__items {
    margin-top: 65px;
  }

  .home-how-it-work__item:first-child img {
    left: -35px;
  }

  .home-how-it-work__txt{
    font-size: $laptopMediumSize;
    max-width: 230px;
  }

  .home-how-it-work__link{
    font-size: $laptopMediumSize;
  }

  .home-how-it-work__link-wrap {
    margin-top: 28px;
  }

  .what-we-do {
    padding: 77px 0 49px;
  }

  .what-we-do__inner {
    max-width: 1070px;
  }

  .what-we-do__items {
    margin-top: 67px;
  }

  .what-we-do__title{
    font-size: $laptopBigSize;
  }

  .what-we-do__item{
    max-width: 330px;
  }

  .what-we-do__item-inner{
    padding: 25px 0;
  }

  .what-we-do__link {
    width: 112px;
    padding: 8px 0;
    font-size: 13px;
    border-radius: 4px;
  }

  .what-we-do__item-inner {
    min-height: 210px;
  }

  .what-we-do__item-inner:hover .what-we-do__top {
    margin-bottom: 8px;
  }

  .home-slider {
    padding: 80px 0 135px;
  }

  .home-slider:before {
    width: 288px;
    height: 208px;
    background-size: 99%;
  }

  .home-slider__txt {
    max-width: 380px;
    font-size: $laptopMediumSize;
    margin-top: 37px;
    line-height: 25px;
    margin-bottom: 30px;
  }

  .home-slider__caption {
    font: $laptopBigSize;
  }

  .home-slider__inner .owl-dots {
    margin-top: 83px;
  }

  .home-slider__img {
    position: absolute;
    top: 34px;
    right: -85px;
    transform: scale(0.7);
  }

  .home-slider {
    padding: 80px 0 101px;
  }

  .order-block {
    padding: 70px 0 100px;
    background-size: 72%;
  }

  .order-block__btn {
    margin-top: 37px;
  }

  .subscribe-block {
    padding: 24px 0;
  }

  .subscribe-block__title{
    font-size: $laptopBigSize;
  }

  .subscribe-block__input {
    width: 250px;
    height: 45px;
    font-size: $laptopLightSize;
    margin-left: 40px;
  }

  .seo-block__inner {
    max-width: 675px;
  }

  .seo-block__title{
    font-size: 36px;
    margin-bottom: 19px;
  }

  .seo-block__txt{
    font-size: 13px;
    letter-spacing: 0.5px;
    line-height: 23px;
    margin-bottom: 20px;
  }

  .seo-block {
    padding: 85px 0 140px;
  }


  .footer__inner {
    max-width: 1260px;
    padding: 45px 0 45px;
  }

  .footer__left {
    max-width: 400px;
  }

  .footer__txt {
    margin-top: 17px;
    max-width: 290px;
    font-size: $laptopLightSize;
  }

  .footer__center-item {
    width: 43%;
  }

  .footer__center-title{
    font-size: $laptopMediumSize;
    margin-bottom: 17px;
  }

  .footer__center-subtitle{
    font-size: 13px;
  }

  .footer__center-link{
    font-size: $laptopMediumSize;
    margin-top: 7px;
    margin-bottom: 9px;
  }

  .footer__right {
    min-width: 293px;
    max-width: 293px;
  }

  .footer__right-txt {
    text-transform: uppercase;
    color: #787c85;
    font: 12px/15px 'OpenSans-Light';
  }


  .footer__right-txt p{
    margin-top: 0;
    margin-bottom: 15px;
  }
}

@media (max-width: 1280px) {
  .footer__inner {
    padding: 45px 15px 45px;
  }

  .order-block {
    background-size: contain;
  }

}



@media (max-width: 1050px) {

  .header{
    padding: 0 20px;
    height: 76px;
  }

  .header__inner{
    padding-top: 25px;
  }

  .header__tablet-login{
    display: block;
    margin-right: 40px;
  }

  .mobile-menu-btn{
    position: relative;
    top: -10px;
    margin-left: 40px;
  }

  .mobile-menu-btn__link{
    display: block;
    width: 41px;
    height: 41px;
    background: #14213d url("../img/menu.png") center center no-repeat;
    border-radius: 50%;
    transition: 0.5s;
  }

  .mobile-menu-btn__link.mobile-menu-btn__link--open{
    background: #14213d url("../img/men-x.png") center center no-repeat;
  }

  .header__tablet-login-link{
    font: 14px 'OpenSans-Bold';
    color: $black;
  }

  .header__menu{
    position: absolute;
    left: 0;
    top: 75px;
    width: 100%;
    background: $white;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0;
    border: 0;
    transition: 0.5s;
    overflow: hidden;
  }

  .header__menu.header__menu--open{
    height: 170px;
    overflow: visible;
  }

  .header:not(.header--scrolled) .header__menu.header__menu--open{
    border-top: 1px solid ;
    border-color: #8063c6;
  }


  .home-top{
    min-height: auto;
  }

  .home-top__content{
    padding-bottom: 130px;
  }

  .home-top__title {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 63px;
    text-align: center;
  }

  .home-top__title:after {
    left: 50%;
    transform: translateX(-50%);
  }

  .home-top__caption {
    max-width: 480px;
    margin: 0 auto;
    text-align: center;
  }

  .home-top__image{
    display: none;
  }

  .home-top__btn{
    display: flex;
    justify-content: center;
  }

  .header__submenu-inner{
    max-width: 510px;
  }

  .header__submenu-item{
    width: 42%;
  }

  .header__menu-item--submenu:hover .header__submenu{
    top: 169px;
  }

  .header__menu-item--submenu:hover .header__menu-link span:after {
    top: 72px;
    width: 25px;
    left: 55px;
    height: 25px;
  }

  .header__menu-item:last-child{
    display: none;
  }

  .home-how-it-work__item:first-child img {
    left: -20px;
  }


}


@media (max-width: 992px){
  .home-how-it-work__items{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .what-we-do__items{
    display: none;
  }

  .home-slider__img{
    display: none;
  }

  .home-slider:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 205px;
    height: 145px;
    background: url(../img/home/home-fig-1.png) right bottom;
    background-size: 100%;
    transform: rotate(180deg);
  }

  .what-we-do__mobile{
    display: flex;
    max-width: 640px;
    margin: 0 auto;
  }

  .what-we-do__mobile-tabs{
    display: flex;
    flex-direction: column;
    border-right: 0;
    width: 250px;
  }

  .what-we-do__mobile-items{
    width: 395px;
    height: 300px;
    background: $violet;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
  }

  .what-we-do__mobile-item{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    text-align: center;
    opacity: 0;
    transition: 0.3s;
  }

  .what-we-do__mobile-item.active{
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
    z-index: 10;
  }

  .what-we-do__mobile-tab{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #b2b2b2;
    border-bottom: 0;
    border-right: 0;

    &:first-child{
      border-top-left-radius: 10px;
    }

    &:last-child{
      border-bottom: 2px solid #b2b2b2;
      border-bottom-left-radius: 10px;
    }

    &.active{
      position: relative;
      background: $greyBg;
      border-color: $violet;

      &:after{
        content: "";
        display: block;

        position: absolute;
        right: -13px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 15px 0 15px 13px;
        border-color: transparent transparent transparent $greyBg;
      }

      &:before{
        content: "";
        display: block;
        position: absolute;
        bottom: -2px;
        left: -2px;
        width: calc(100% + 2px);
        height: 2px;
        background: $violet;
      }

      &:last-child:before{
        display: none;
      }
    }
  }

  .what-we-do__title{
    color: $white;
  }

  .what-we-do__txt {
    visibility: visible;
    max-height: 100%;
    opacity: 1;
    max-width: 290px;
    margin: 0 auto 25px;
    font-size: $laptopLightSize;
  }

  .what-we-do__top:after {
    display: none;
  }

  .what-we-do__title:after {
    content: "";
    display: block;
    width: 128px;
    height: 17px;
    background: url(../img/home/wave-white.png) center center no-repeat;
    margin: 15px auto 0;
  }

  .what-we-do__btn {
    display: flex;
    visibility: visible;
    max-height: 100%;
    opacity: 1;
  }

  .what-we-do__link {
    width: 140px;
    padding: 14px 0;
    font-size: 16px;
    border-radius: 6px;
  }

  .home-slider:before {
    width: 205px;
    height: 145px;
    background-size: 100%;
  }

  .home-slider__inner .owl-nav {
    padding: 0 20px;
  }

  .order-block {
    background: #f1f1ff url(../img/home/home-bg-2.png) center center no-repeat;
  }

  .subscribe-block{
    flex-direction: column;
  }

  .subscribe-block__form{
    margin-top: 20px;
  }

  .subscribe-block__input{
    margin-left: 0;
  }

  .seo-block__inner{
    max-width: 650px;
  }

  .footer__inner{
    padding: 45px 20px 45px;
  }

  .footer__txt{
    max-width: 230px;
  }

  .footer__center{
    flex-direction: column;
    width: 90%;
  }

  .footer__right{
    min-width: 235px;
    max-width: 235px;
  }

  .footer__center-item {
    width: 100%;
  }

}



@media (max-width: 720px){
  .footer__center,
  .footer__right,
  .footer__left {
    max-width: initial;
    width: auto;
  }
}

@media (max-width: 550px){

  .header {
    height: 61px;
  }

  .header.open-menu{
    position: absolute;
  }

  .header__btn,
  .header__tablet-login{
    display: none;
  }

  .header__menu {
    position: absolute;
    left: 0;
    top: 60px;
    //min-height: 100vh;
    background: #ffffff;
    //transform: translateX(-110%);
    transition: 0.5s;
  }

  .header__menu-list{
    flex-direction: column;
  }

  .home-top__content{
    padding: 0 15px;
    padding-bottom: 65px;
  }

  .home-top__title h1 {
    font: 40px/50px 'Quicksand-Bold';
  }

  .home-top__content {
    margin-top: 115px;
    min-height: 0;
  }

  .home-top__title:after {
    display: none;
  }

  .home-top__title {
    margin-bottom: 25px;
  }

  .header__inner {
    padding-top: 20px;
  }

  .header .header__menu.header__menu--open{
    transform: translateX(0);
    padding: 60px 0 70px;
    height: auto;
  }

  .header__menu-item {
    margin-right: 0;
    margin-bottom: 52px;
    text-align: center;
  }

  .header__menu-item:last-child{
    display: block;
    margin: 0;
  }

  .header__menu-item--submenu:hover .header__menu-link span:after {
    top: 31px;
    width: 25px;
    left: 70px;
    height: 25px;
  }

  .header__menu-item--submenu:hover .header__submenu{
    position: static;
    margin-top: 30px;
    padding: 40px 0;
  }

  .header__submenu-item {
    width: 100%;
  }

  .header__logo{
    transition: transform 0.5s, width 0.5s 0.5s ;
    width: 185px;
    overflow: hidden;
  }

  .header--scrolled .header__logo{
    width: 27px;
    transform: rotate(-135deg);
    transition: width 0.5s, transform 0.5s 0.5s;
  }

  .header__logo-img{
    min-width: 185px;
  }

  .header__btn{
    display: block;
    visibility: hidden;
    z-index: -1;
    position: absolute;
    top: 21px;
    left: 50%;
    transform: translate(-50%, -15px);
    transition: 0.3s;
    opacity: 0;
  }

  .header--scrolled .header__btn {
    visibility: visible;
    transform: translate(-50%, 0);
    z-index: 1;
    transition: 0.5s 1s;
    opacity: 1;
  }

  .mobile-menu-btn__link{
    transition: 0.5s;
  }

  .header--scrolled .mobile-menu-btn__link{
    background: black url(../img/menu.png) center center no-repeat;
    filter: invert(1);
  }

  .header__menu-link{
    font: 18px 'OpenSans-Bold';
  }






}

