// Footer
footer.footer
  .footer__inner
    .footer__left
      .footer__logo
        img(src="img/svg/logo.svg" alt="img")
      .footer__txt Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    .footer__center
      .footer__center-item
        .footer__center-title Phone:
        .footer__center-subtitle All questions.
        a(href="tel:+18448595860").footer__center-link +1 (844) 859-5860
      .footer__center-item
        .footer__center-title Email:
        .footer__center-subtitle I haven't ordered yet.
        a(href="mailto:support@blablabla.com").footer__center-link support@blablabla.com
        .footer__center-subtitle I have an order in progress.
        a(href="mailto:sales@blablabla.com").footer__center-link sales@blablabla.com
        .footer__center-subtitle I need clarification on payment.
        a(href="mailto:billing@blablabla.com").footer__center-link billing@blablabla.com
    .footer__right
      .footer__right-txt
        p All model papers provided by mycustomessay.com must be probperly referenced. We do not endorse or encourage any activities that are in violation of applicable law or any university policies.
        p We use cookies to improve your experience. By continuing to use this website, you agree to the use of cookies. To learn more about our privacy and cookie policy, see Terms of Use.

  .footer__bottom © Copyright paperwritten.com - 2014 -2018 | Thesis & Dissertation Sample Writing Service

