
header
  .header
    .header__inner
      .header__left
        .header__logo
          img(src='img/svg/logo.svg').header__logo-img
      .header__right
        .header__menu
          ul.header__menu-list
            li.header__menu-item.header__menu-item--active
              a(href="#").header__menu-link About
            li.header__menu-item
              a(href="#").header__menu-link How it works
            li.header__menu-item
              a(href="#").header__menu-link Pricing
            li.header__menu-item.header__menu-item--submenu
              a(href="#").header__menu-link Services
              ul.header__submenu
                li.header__submenu-item
                  a(href="#").header__submenu-link
            li.header__menu-item
              a(href="#").header__menu-link Contact
            li.header__menu-item
              a(href="#").header__menu-link Log in

        .header__btn
          a(href="#").header__btn-item.site-btn Order Now

