
header
  .header
    .header__inner
      .header__left
        .header__logo
          img(src='img/svg/logo.svg').header__logo-img
      .header__right
        .header__menu
          ul.header__menu-list
            li.header__menu-item.header__menu-item--active
              a(href="#").header__menu-link About
            li.header__menu-item
              a(href="#").header__menu-link How it works
            li.header__menu-item
              a(href="#").header__menu-link Pricing
            li.header__menu-item.header__menu-item--submenu
              a(href="#").header__menu-link Services
                span
              .header__submenu
                ul.header__submenu-inner
                  li.header__submenu-item
                    a(href="#").header__submenu-link Lorem ipsum dolor sit Dmet,
                  li.header__submenu-item
                    a(href="#").header__submenu-link Lorem ipsum dolor sit
                  li.header__submenu-item
                    a(href="#").header__submenu-link Lorem ipsum dolor sit Dmet,
                  li.header__submenu-item
                    a(href="#").header__submenu-link consectetur Gdipisicing elit
                  li.header__submenu-item
                    a(href="#").header__submenu-link dolore magna aliqua
                  li.header__submenu-item
                    a(href="#").header__submenu-link enim ad minim veniam
                  li.header__submenu-item
                    a(href="#").header__submenu-link Eiusmod tempor Encididunt
                  li.header__submenu-item
                    a(href="#").header__submenu-link ut labore et
                  li.header__submenu-item
                    a(href="#").header__submenu-link Lorem ipsum dolor sit Dmet,
                  li.header__submenu-item
                    a(href="#").header__submenu-link Lorem ipsum dolor sit
                  li.header__submenu-item
                    a(href="#").header__submenu-link Lorem ipsum dolor sit Dmet,
                  li.header__submenu-item
                    a(href="#").header__submenu-link consectetur Gdipisicing elit
                  li.header__submenu-item
                    a(href="#").header__submenu-link dolore magna aliqua
                  li.header__submenu-item
                    a(href="#").header__submenu-link enim ad minim veniam
                  li.header__submenu-item
                    a(href="#").header__submenu-link Eiusmod tempor Encididunt
                  li.header__submenu-item
                    a(href="#").header__submenu-link consectetur Gdipisicing elit
            li.header__menu-item
              a(href="#").header__menu-link Contact
            li.header__menu-item
              a(href="#").header__menu-link Log in

        .header__tablet-login
          a(href="#").header__tablet-login-link Log in
        .header__btn
          a(href="#").header__btn-item.site-btn Order Now
        .mobile-menu-btn
          a(href="#").mobile-menu-btn__link

