extends _layout

block variables
  - var pageTitle = "Photoplay";
  - var pageClass = "homepage";

block content
  // Content
  div.main-wrap
    main.main
      section.section-block
        .home-top.error-top
          .home-top__content
            .home-top__title
              h1 404
            .error-top__subtitle.
              Page Not Found
            .home-top__caption.
              We are sorry, but the page you looking for <br>
              does not exist.
            .home-top__btn.error-top__btn
              .home-how-it-work__link-wrap
                a.home-how-it-work__link(href="#") See How it Works
          .home-top__image.error-top__image
            .home-top__image-inner
              .home-top__image-animate.animate-1
              .home-top__image-animate.animate-2
              .home-top__image-animate.animate-3
              .home-top__image-animate.animate-4
              .home-top__image-animate.animate-5
              .home-top__image-animate.animate-6
              .home-top__image-animate.animate-7
              .home-top__image-animate.animate-8
              .home-top__image-animate.animate-9
              .home-top__image-animate.animate-10
              .home-top__image-animate.animate-11
              .home-top__image-animate.animate-12
              .home-top__image-animate.animate-13
              .home-top__image-animate.animate-14
              .home-top__image-animate.animate-15
              .home-top__image-animate.animate-16


      section.section-block
      .order-block
        .order-block__title.section-title
          h2 Lorem ipsum dolor sit amet <br> consect etur
        .order-block__btn
          a(href="#").site-big-btn
            span Order Now



      section.section-block
      .subscribe-block
        .subscribe-block__title Lorem ipsum dolor sit amet consectetur
        .subscribe-block__form
          input(type="text" placeholder="Email adress").subscribe-block__input
          a(href="#").site-btn Order Now




