extends _layout

block variables
  - var pageTitle = "Photoplay";
  - var pageClass = "seopage";

block content
  // Content
  div.main-wrap
    main.main
      section.section-block
        .home-top.contact-top
          .home-top__content qwert

          .home-top__image
            .home-top__image-inner
              .home-top__image-animate.animate-1
              .home-top__image-animate.animate-2
              .home-top__image-animate.animate-3
              .home-top__image-animate.animate-4
              .home-top__image-animate.animate-5
              .home-top__image-animate.animate-6
              .home-top__image-animate.animate-7
              .home-top__image-animate.animate-8
              .home-top__image-animate.animate-9
              .home-top__image-animate.animate-10
              .home-top__image-animate.animate-11
              .home-top__image-animate.animate-12
              .home-top__image-animate.animate-13
              .home-top__image-animate.animate-14
              .home-top__image-animate.animate-15
              .home-top__image-animate.animate-16

