extends _layout

block variables
  - var pageTitle = "Photoplay";
  - var pageClass = "homepage";

block content
  // Content
  div.main-wrap
    main.main

      section.section-block
        .how-it-work

          .home-how-it-work__top-title.section-title
            h2 How it works
          .how-it-work__inner
            .how-it-work__top
              .how-it-work__top-item
                .how-it-work__top-img.how-it-work__top-img--1
                .how-it-work__top-circle
                .how-it-work__top-step 1 Step
              .how-it-work__top-item
                .how-it-work__top-img.how-it-work__top-img--2
                .how-it-work__top-circle
                .how-it-work__top-step 2 Step
              .how-it-work__top-item
                .how-it-work__top-img.how-it-work__top-img--3
                .how-it-work__top-circle
                .how-it-work__top-step 3 Step

            .how-it-work__bottom
              .how-it-work__items
                .how-it-work__item
                  .how-it-work__title Lorem ipsum dolor sit 1
                  .how-it-work__caption Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                .how-it-work__item
                  .how-it-work__title Lorem ipsum dolor sit 2
                  .how-it-work__caption Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                .how-it-work__item
                  .how-it-work__title Lorem ipsum dolor sit 3
                  .how-it-work__caption Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut

          .home-how-it-work__link-wrap
            a.home-how-it-work__link(href="#") View Pricing


      section.section-block
        .faq-block
          .section-title
            h2 FAQ
          .faq-block__inner
            .faq-block__inner-wrap

              .faq-block__left.faq-block--animate
                .faq-block__left-item
                  .faq-block__left-top
                  .faq-block__left-txt Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod?
                  .faq-block__left-animate.loader-wrap
                    .loaders Loading...


              .faq-block__right.faq-block--animate
                .faq-block__right-item
                  .faq-block__right-txt Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusincididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                  .faq-block__right-animate.loader-wrap
                    .loaders Loading...

              .faq-block__left.faq-block--animate
                .faq-block__left-item
                  .faq-block__left-top
                  .faq-block__left-txt Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod?
                  .faq-block__left-animate.loader-wrap
                    .loaders Loading...

              .faq-block__right.faq-block--animate
                .faq-block__right-item
                  .faq-block__right-txt Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusincididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                  .faq-block__right-animate.loader-wrap
                    .loaders Loading...

              .faq-block__left.faq-block--animate
                .faq-block__left-item
                  .faq-block__left-top
                  .faq-block__left-txt Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod?
                  .faq-block__left-animate.loader-wrap
                    .loaders Loading...

              .faq-block__right.faq-block--animate
                .faq-block__right-item
                  .faq-block__right-txt Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusincididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                  .faq-block__right-animate.loader-wrap
                    .loaders Loading...

      section.section-block
        .order-block
          .order-block__title.section-title
            h2 Lorem ipsum dolor sit amet <br> consect etur
          .order-block__btn
            a(href="#").site-big-btn
              span Order Now



      section.section-block
        .subscribe-block
          .subscribe-block__title Lorem ipsum dolor sit amet consectetur
          .subscribe-block__form
            span.error-ms Error message
            input(type="text" placeholder="Email adress").subscribe-block__input.email-field
            a(href="#").site-btn Subscribe





