extends _layout

block variables
  - var pageTitle = "Photoplay";
  - var pageClass = "homepage";

block content
  // Content
  div.main-wrap
    main.main
      section.section-block
        .home-top
          .home-top__content
            .home-top__title
              h1 Lorem ipsum dolor sit amet consecte-
            .home-top__caption.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
            .home-top__btn
              a(href="#").site-big-btn
                span Order Now
          .home-top__image






