extends _layout

block variables
  - var pageTitle = "SEO";
  - var pageClass = "seo-page";

block content
  // Content
  div.main-wrap
    main.main
      section.section-block
        .home-top
          .home-top__content
            .home-top__title
              h1 Lorem ipsum dolor sit amet consecte-
            .home-top__caption.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
            .home-top__btn
              a(href="#").site-big-btn
                span Order Now
          .home-top__image.webp-img(data-webp="./img/home/h-t-img.webp" data-img="./img/home/h-t-img.png")
            .home-top__image-inner
              .home-top__image-animate.animate-1
              .home-top__image-animate.animate-2
              .home-top__image-animate.animate-3
              .home-top__image-animate.animate-4
              .home-top__image-animate.animate-5
              .home-top__image-animate.animate-6
              .home-top__image-animate.animate-7
              .home-top__image-animate.animate-8
              .home-top__image-animate.animate-9
              .home-top__image-animate.animate-10
              .home-top__image-animate.animate-11
              .home-top__image-animate.animate-12
              .home-top__image-animate.animate-13
              .home-top__image-animate.animate-14
              .home-top__image-animate.animate-15
              .home-top__image-animate.animate-16


      section.section-block
        .seo-block.seo-big-width
          .seo-block__inner
            .seo-block__title Lorem ipsum dolor sit ametconsect etur adipisicing elit, sed do
            .seo-block__txt
              p.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim venia, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              p.
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
            .seo-block__subtitle Lorem ipsum dolor sit ametconsect etur adipisicing elit,
            .seo-block__txt
              p.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim venia, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              p.
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
            .seo-block__subtitle Lorem ipsum dolor sit ametconsect etur adipisicing elit,
            .seo-block__txt
              p.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim venia, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              p.
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
            .seo-block__title-lvl1 Lorem ipsum dolor sit ametconsect etur adipisicing elit, sed do
            .seo-block__txt
              span.seo-block__thesis-ul
              p.
                Lorem ipsum dolor sit amet, consectetur  dolor sit amet, consectetur
              span.seo-block__thesis-ul
              p.
                Elit, sed do eiusmod tempor incididunt ut labore dolor sit amet, consectetur
              span.seo-block__thesis-ul
              p.
                Dolore magna aliqua. Ut enim ad minim veniam eiusmod tempor incididunt
              span.seo-block__thesis-ul
              p.
                Vostrud exercitation Ut enim ad minim veniam
            .seo-block__title-lvl2 Lorem ipsum dolor sit ametconsect etur adipisicing elit, sed do
            .seo-block__txt
              span.seo-block__thesis-ol 1.
              p.
                Lorem ipsum dolor sit amet, consectetur  dolor sit amet, consectetur
              span.seo-block__thesis-ol 2.
              p.
                Elit, sed do eiusmod tempor incididunt ut labore dolor sit amet, consectetur
              span.seo-block__thesis-ol 3.
              p.
                Dolore magna aliqua. Ut enim ad minim veniam eiusmod tempor incididunt
              span.seo-block__thesis-ol 4.
              p.
                Vostrud exercitation Ut enim ad minim veniam


      section.section-block
        .order-block
          .order-block__title.section-title
            h2 Lorem ipsum dolor sit amet <br> consect etur
          .order-block__btn
            a(href="#").site-big-btn
              span Order Now



        section.section-block
        .subscribe-block
          .subscribe-block__title Lorem ipsum dolor sit amet consectetur
          .subscribe-block__form
            span.error-ms Error message
            input(type="text" placeholder="Email adress").subscribe-block__input.email-field
            a(href="#").site-btn Subscribe
